node_modules
.git
.github
dist
!dist/secureyeoman-linux-x64
*.db
.env
.env.*
coverage
.nyc_output
.vscode
.idea
*.log
*.tgz
site
TODO.md
CONTRIBUTING.md
LICENSE
.dockerignore
Dockerfile
docker-compose.yml
